<%= form_for @job_application do |f| %>
  <p>
    <%= f.label :'Full Name' %>
    <%= f.text_field :full_name %>
  </p>

  <p>
    <%= f.label :'Phone Number' %>
    <%= f.text_field :phone %>
  </p>


  <p>
    <%= f.label :'Hobby' %>
    <%= f.text_field :hobby%>
  </p>

  <p>
    <%= f.label :'Years experience' %>
    <%= f.number_field :years_experience %>
  </p>

  <p>
    <%= f.label :'Start date?' %>
    <%= f.text_field :available_date %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
